/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Change text to imported font */
body * {
  font-family: "Open Sans", sans-serif;
}

.select-overflowable {
  overflow: visible !important;
}

.img-logo {
  margin-top: -16px;
  margin-bottom: -16px;
  margin-left: -16px;
}

#sens_plot {
  width: 100% !important;
}

span.small {
  font-size: 0.7em;
}

/* .bslib-value-box .value-box-value#narc_bench, .value-box-value#pabs, .value-box-value#photo_bench {
  font-size: calc(0.8rem + .9vw);
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 01.2;
} */
